# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
*.pot
/media
/static
/staticfiles

# Local files
*.sqlite3
/obj
/waggylabs_site/settings/local.py
local.py
robots.txt


/.git

# Visual Studio stuff
*.pyproj
*.pyproj.user
/.vs
*.sln

# Visual Studio Code stuff
/.vscode

# PyPI stuff
dist/
build/
*.egg-info