# beautifulsoup4>=4.11.2
Django>=5.0.1
django-el-pagination>=4.0.0
django-taggit>=4.0.0,<5.
django-hitcount>=1.3.5
django-simple-captcha>=0.6.0
emoji>=2.9.0
gunicorn>=21.0.1
psycopg2-binary>=2.9.7
pygments>=2.17.2
wagtail>=5.2.2
wagtail-markdown>=0.11.1
wagtailmenus>=3.1.9
wagtail-metadata>=5.0.0