# beautifulsoup4>=4.11.2
Django>=5.0.4<5.1
django-el-pagination>=4.0.0
django-taggit>=5.0<5.1
django-hitcount>=1.3.5
django-simple-captcha>=0.6.0
emoji>=2.12.1
gunicorn>=23.0.0
psycopg2-binary>=2.9.9
pygments>=2.18.0
wagtail>=6.2.1
wagtail-markdown>=0.12.1
wagtailmenus>=4.0.1
wagtail-metadata>=5.0.0