{% load wagtailadmin_tags  %}

<div class="{{ classname }}">
    {% if help_text %}
    <span>
        <div class="help">
            {% icon name="help" classname="default" %}
            {{ help_text }}
        </div>
    </span>
    {% endif %}
    <div class="waggylabs-grid-container-2">
    {% for child in children.values %}
        {% if child.block.name != 'items' %}
            <div class="w-field w-100" data-contentpath="{{ child.block.name }}">
                {% if child.block.label %}
                    <label class="w-field__label" {% if child.id_for_label %}for="{{ child.id_for_label }}"{% endif %}>{{ child.block.label }}{% if child.block.required %}<span class="w-required-mark">*</span>{% endif %}</label>
                {% endif %}
                {{ child.render_form }}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <div data-contentpath="{{ children.items.block.name }}">
        {{ children.items.render_form }}
    </div>
</div>