{% load waggylabs_filters %}

{% load waggylabs_filters %}

{% if value.icon_location == 'end' %}
<a href="mailto:{{ value.email }}" 
    class="{% if 'link' in value.style %}nav-link{% endif %} {{ value.style }} {% if 'btn' in value.style %}mt-1{% endif %} mb-2 me-2">
    {% if value.text or value.icon|is_icon %}
    {{ value.text }}
    {% else %}
    {{ value.email }}
    {% endif %}
    {% if value.icon|is_icon %}
    <i class="{{ value.icon|icon_class }}{% if value.text %} ms-1{% endif %}"></i>
    {% endif %}
</a>
{% else %}
<a href="mailto:{{ value.email }}" 
    class="{% if 'link' in value.style %}nav-link{% endif %} {{ value.style }} {% if 'btn' in value.style %}mt-1{% endif %} mb-2 me-2">
    {% if value.icon|is_icon %}
    <i class="{{ value.icon|icon_class }}{% if value.text %} me-1{% endif %}"></i>
    {% endif %}
    {% if value.text or value.icon|is_icon %}
    {{ value.text }}
    {% else %}
    {{ value.email }}
    {% endif %}
</a>
{% endif %}