{% load wagtailcore_tags %}
{% load wagtailembeds_tags %}
{% load waggylabs_filters %}

{% if sidebar %}
{# rendering in the sidebar #}
<figure class="w-100 mb-3">
    <div class="waggylabs-sidebar-button-container">
        <div class="border rounded">
            <div class="ratio ratio-16x9">
                {% embed value.embed.url %}
            </div>
        </div>
        {% if visual_settings.preview_buttons_icon_location == 'end' %}
        <button type="button" class="{{ visual_settings.preview_buttons_style }} waggylabs-sidebar-button" data-bs-toggle="modal" data-bs-target="#modal-{{ id }}">
            {{ visual_settings.preview_buttons_text }}
            {% if visual_settings.preview_buttons_icon|is_icon %}
            <i class="{{  visual_settings.preview_buttons_icon|icon_class }}{% if  visual_settings.preview_buttons_text %} ms-1{% endif %}"></i>
            {% endif %}
        </button>
        {% else %}
        <button type="button" class="{{ visual_settings.preview_buttons_style }} waggylabs-sidebar-button" data-bs-toggle="modal" data-bs-target="#modal-{{ id }}">
            {% if visual_settings.preview_buttons_icon|is_icon %}
            <i class="{{  visual_settings.preview_buttons_icon|icon_class }}{% if  visual_settings.preview_buttons_text %} me-1{% endif %}"></i>
            {% endif %}
            {{ visual_settings.preview_buttons_text }}
        </button>
        {% endif %}
    </div>
    {% if value.caption %}
        <figcaption class="figure-caption">
            {% if page.embed_caption_label %}<p class="me-2 waggylabs-entity-label" id="sb-el-{{ id }}">{{ page.embed_caption_label }}</p>{% endif %}
            {{ value.caption|markdown:page.pk|safe }}
        </figcaption>
    {% endif %}
</figure>
{% elif modal %}
{# Modals are always renedered on the main page because they are not working well in case of rendering inside sticky sidebar tabs #}
<div class="modal fade" id="modal-{{ id }}" tabindex="-1" aria-labelledby="modal-el-{{ id }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-el-{{ id }}">{% if page.embed_caption_label %}{{ page.embed_caption_label }}{% endif %}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <figure class="mb-3" id="modal-bl-{{ id }}">
                    <div class="border rounded">
                        <div class="ratio ratio-16x9">
                            {% embed value.embed.url %}
                        </div>
                    </div>
                    {% if value.caption %}
                        <figcaption class="figure-caption">
                            {{ value.caption|markdown:page.pk|safe }}
                        </figcaption>
                    {% endif %}
                </figure>
            </div>
        </div>
    </div>
</div>
{% else %}
<figure class="mb-3 waggylabs-label-embed" {% if value.label %}id="{{ value.label }}-{{ page.pk }}"{% endif %}>
    {% if not after_cut %}
    <div class="border rounded">
        <div class="ratio ratio-16x9">
            {% embed value.embed.url %}
        </div>
    </div>
    {% endif %}
    {% if value.caption %}
        <figcaption class="figure-caption">
            {% if page.embed_caption_label %}<p class="me-2 waggylabs-entity-label" id="el-{{ id }}">{{ page.embed_caption_label }}</p>{% endif %}
            {{ value.caption|markdown:page.pk|safe }}
        </figcaption>
    {% endif %}
</figure>
{% endif %}