{% load wagtailcore_tags %}
{% load waggylabs_filters %}

{% if footer %}
    {# Post highligts are in footer #}
    {% if value.posts.count > 0 %}
    <ul class="list-unstyled overflow-hidden {{ value.text_wrap }}">
        {% for post in value.posts %}
        <li class="mb-2"><a href="{% pageurl post %}" >{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% else %}
    {% if value.posts.count == 0 %}
    <p>No posts</p>
    {% else %}
        {% if 'group' in value.posts_style %}
        <div class="{{ value.posts_style }}">
            {% for post in value.posts %}
            <a href="{% pageurl post %}" 
                class="{{ value.post_style }} {% if 'btn' in value.post_style %}mt-1 mb-1{% endif %}">
                <div class="d-flex justify-content-between align-items-center p-mb-0">
                    {{ post.title }}
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <{% if 'number' in value.posts_style %}ol{% else %}ul{% endif %} class="{{ value.posts_style }}">
            {% for post in value.posts %}
            <li>
                <a href="{% pageurl post %}" 
                    class="{{ value.post_style }} {% if 'btn' in value.post_style %}mt-1 mb-1{% endif %}">
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </{% if 'number' in value.posts_style %}ol{% else %}ul{% endif %}>
        {% endif %}
    {% endif %}
{% endif %}